@import "../../theme/palette"; // import of colors


::selection {
  color: inherit;
  background: transparent;
}
*{
  cursor: default;
}

.modal {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: $modalActivebg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  &Inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: $paletteColor2;
    width: 1024px;
    height: 640px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px $boxShadow;
    display: flex;
    flex-flow: row wrap;
    max-width: 98%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    
  }
  .close {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    line-height: 24px;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid $placeholder;
    font-family: "Raleway", sans-serif;
    color: $placeholder;
    cursor: pointer;
    overflow: hidden;
    transition: color, border-color 0.3s ease;

    &:hover {
      color: $paletteColor1;
      border-color: $paletteColor1;
    }

  }
  &Head {
    display: flex;
    height: 130px;
    border-bottom: 1px solid $border;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    width: 100%;
  }
  &Body {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    height: 510px;  
    padding: 0 30px;
  }

  .inputGroup {
    width: 100%;
    height: 184px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid $border;

    label {
      position: absolute;
      width: 45px;
      height: 45px;
      color: $paletteColor1;
      font-weight: 600;
      font-size: 36px;
      left: 0;
      opacity: 0.15;
      border: 1px solid $paletteColor1;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      line-height: 45px;
    }
    input {
      font-size: 60px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      padding-left: 70px;
      border: none;
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;

        & + label {
          opacity: 1;
        }
      }

        &::placeholder {
          color: $placeholder;
        }
    }
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 0px 70px;
    height: 185px;
    outline: none;
    line-height: 24px;
    overflow-y: scroll;
    background: $paletteColor2;
    margin: 70px 0;
    color: $paletteColor1;

    &::placeholder {
      color: $placeholder;
    }
    &::-webkit-scrollbar  {
      display: none;
    }
  }


}

.username {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 60px;
  text-align: left;
  cursor: pointer;
  &Image {
    border: 1px dashed #cecece;
    border-radius: 50%;
    line-height: 34px;
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    font-size: 60px;
    color: #cecece;
    font-family: "Raleway", sans-serif;

  }
  &Text {
    color: #cecece;
    font-size: 16px;
    line-height: 16px;
    padding: 22px 0;
    display: block;
    float: right;
    font-family: 'Raleway', sans-serif;
  }
}
.calendar {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 200px;
  width: 150px;
  height: 60px;
  text-align: left;
  cursor: pointer;
  &Image {
    border: 1px dashed #cecece;
    border-radius: 50%;
    line-height: 72px;
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
  }
  &Text {
    color: #cecece;
    font-size: 16px;
    line-height: 16px;
    padding: 22px 0;
    display: block;
    float: right;
    font-family: 'Raleway', sans-serif;
  }
}

.projectname {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 380px;
  width: 180px;
  height: 60px;
  text-align: left;
  cursor: pointer;
  &Image {
    border: 1px dashed #cecece;
    border-radius: 50%;
    line-height: 34px;
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    font-size: 60px;
    color: #cecece;
    font-family: "Raleway", sans-serif;

  }
  &Text {
    color: #cecece;
    font-size: 16px;
    line-height: 16px;
    padding: 22px 0;
    display: block;
    float: right;
    font-family: 'Raleway', sans-serif;
  }
}